In [ ]:
#Python 100 days of code DAY - 09
#Pyhton Dictionaries

In [ ]:
py_dictionaries={
    1:"Arvinder",
    2:"Pal",
    3:1224354,
    "Fourth":"This is fourth element",
}
#printing complete dictionary
print(py_dictionaries)
print()
#printing individual elements of a dictionary
print(f"This is first value: {py_dictionaries[1]}")
print(f"This is third value: {py_dictionaries[3]}")
print(f"This is fourth value: {py_dictionaries['Fourth']}")

#Adding element to dictioanry
py_dictionaries["Hello"]="This is the newly added value"

print(f"This is the latest dictionary: \n {py_dictionaries}")

#UPDATING VALUES IN DICTIONARY
py_dictionaries["Hello"]=1234
print(f"This is the latest dictionary: \n {py_dictionaries}")

#Removing element from dictionary
print(py_dictionaries.pop(3))
print(f"This is the latest dictionary: \n {py_dictionaries}")

#Looping through dictionary
for key in py_dictionaries:
  print(key)
  print(py_dictionaries[key])
  print()

{1: 'Arvinder', 2: 'Pal', 3: 1224354, 'Fourth': 'This is fourth element'}

This is first value: Arvinder
This is third value: 1224354
This is fourth value: This is fourth element
This is the latest dictionary:
 {1: 'Arvinder', 2: 'Pal', 3: 1224354, 'Fourth': 'This is fourth element', 'Hello': 'This is the newly added value'}
This is the latest dictionary:
 {1: 'Arvinder', 2: 'Pal', 3: 1224354, 'Fourth': 'This is fourth element', 'Hello': 1234}
1224354
This is the latest dictionary:
 {1: 'Arvinder', 2: 'Pal', 'Fourth': 'This is fourth element', 'Hello': 1234}
1
Arvinder

2
Pal

Fourth
This is fourth element

Hello
1234

In [ ]:
#Grading System
student_scores = {
  "Harry": 81,
  "Ron": 78,
  "Hermione": 99, 
  "Draco": 74,
  "Neville": 62,
}


#TODO-1: Create an empty dictionary called student_grades.
student_grades={}
#TODO-2: Write your code below to add the grades to student_grades.ðŸ‘‡
for key in student_scores:
  if student_scores[key]>=91:
    student_grades[key]="Outstanding"
  elif student_scores[key]>=81:
    student_grades[key]="Exceeds Expectations"
  elif student_scores[key]>=71:
    student_grades[key]="Acceptable"
  else:
    student_grades[key]="Fail"

print(student_grades)

{'Harry': 'Exceeds Expectations', 'Ron': 'Acceptable', 'Hermione': 'Outstanding', 'Draco': 'Acceptable', 'Neville': 'Fail'}

In [ ]:
#Nesting
print("************************************* Dictionary with Lists *************************************")
country_visits={
    "France":"Paris",
    "India":["Bangalore","Hyderabad","Mumbai","Delhi"],
    "Pakistan":["Lahore","Baksar","Faijabad","Islamabad"],
    "USA":"San Diego",
}
print(country_visits)
print()
print(country_visits["India"])
print(country_visits["India"][0])
print(country_visits["India"][3])
print(country_visits["India"][-2])

************************************* NESTING *************************************
{'France': 'Paris', 'India': ['Bangalore', 'Hyderabad', 'Mumbai', 'Delhi'], 'Pakistan': ['Lahore', 'Baksar', 'Faijabad', 'Islamabad'], 'USA': 'San Diego'}

['Bangalore', 'Hyderabad', 'Mumbai', 'Delhi']
Bangalore
Delhi
Mumbai

In [ ]:
#NESTING
print("************************************* Dictionary in a Dictionary *************************************")
country_visits={
    "France":"Paris",
    "India":{1:"Bangalore",2:"Hyderabad",3:"Mumbai",4:"Delhi"},
    "Pakistan":{"first":"Lahore","second":"Baksar","third":"Faijabad","fourth":"Islamabad"},
    "USA":"San Diego",
}
# print(country_visits)
print(country_visits["India"])
print()
print(country_visits["India"][1])
print(country_visits["India"][2])
print(country_visits["India"][3])

************************************* Dictionary in a Dictionary *************************************
{1: 'Bangalore', 2: 'Hyderabad', 3: 'Mumbai', 4: 'Delhi'}

Bangalore
Hyderabad
Mumbai

In [ ]:
print("************************************* NESTING NEXT LEVEL *************************************")
country_visits={
    "France":"Paris",
    "India":{1:"Bangalore",2:"Hyderabad",3:"Mumbai","Haryana":["sirsa","fatehabad","kaithal","kurukshetra"]},
    "Pakistan":{"first":"Lahore","second":"Baksar","third":"Faijabad","fourth":"Islamabad"},
    "USA":"San Diego",
}
# print(country_visits)
print(country_visits["India"])
print()
print(country_visits["India"][1])
print(country_visits["India"][2])
print(country_visits["India"]["Haryana"])
print(country_visits["India"]["Haryana"][0])
print(country_visits["India"]["Haryana"][3])
print(country_visits["India"]["Haryana"][-2])

************************************* NESTING NEXT LEVEL *************************************
{1: 'Bangalore', 2: 'Hyderabad', 3: 'Mumbai', 'Haryana': ['sirsa', 'fatehabad', 'kaithal', 'kurukshetra']}

Bangalore
Hyderabad
['sirsa', 'fatehabad', 'kaithal', 'kurukshetra']
sirsa
kurukshetra
kaithal

In [ ]:
travel_log = [
{
  "country": "France",
  "visits": 12,
  "cities": ["Paris", "Lille", "Dijon"]
},
{
  "country": "Germany",
  "visits": 5,
  "cities": ["Berlin", "Hamburg", "Stuttgart"]
},
]
#ðŸš¨ Do NOT change the code above

#TODO: Write the function that will allow new countries
#to be added to the travel_log. ðŸ‘‡
def add_new_country(country_name,visits,cityNames):
  new_travel_log={}
  new_travel_log["country"]=country_name
  new_travel_log["visits"]=visits
  new_travel_log["cities"]=cityNames
  travel_log.append(new_travel_log)

#ðŸš¨ Do not change the code below
add_new_country("Russia", 2, ["Moscow", "Saint Petersburg"])
print(travel_log)

[{'country': 'France', 'visits': 12, 'cities': ['Paris', 'Lille', 'Dijon']}, {'country': 'Germany', 'visits': 5, 'cities': ['Berlin', 'Hamburg', 'Stuttgart']}, {'country': 'Russia', 'visits': 2, 'cities': ['Moscow', 'Saint Petersburg']}]