In [ ]:
#Python 100 Days of code 
#DAY -10

In [ ]:
#Functions with output
def format_name(f_name,l_name):
  formated_f_name=f_name
  formated_l_name=l_name
  print(f"Your Name in Title Case is :{formated_f_name.title()} {formated_l_name.title()}")

fname=input("Please Enter your first name:")
lname=input("Please Enter your last name :")
format_name(fname,lname)

Please Enter your first name:ARVINDER
Please Enter your last name :pal
Your Name in Title Case is :Arvinder Pal

In [ ]:
#Functions with output 
#return keyword
def format_name(f_name,l_name):
  formated_f_name=f_name
  formated_l_name=l_name
  formated_full_name= formated_f_name.title() + " "+formated_l_name.title()
  return formated_full_name

fname=input("Please Enter your first name:")
lname=input("Please Enter your last name :")
output = format_name(fname,lname)
print(f"Your name in title case is : {output}")

In [ ]:
#Functions with output 
#Multiple return keyword
def format_name(f_name,l_name):
  if l_name=="" or f_name=="":
    final_output="Can't format empty strings."
    return final_output
  formated_f_name=f_name
  formated_l_name=l_name
  return f"Your name in title case is :{formated_f_name.title()}  {formated_l_name.title()}"

fname=input("Please Enter your first name:")
lname=input("Please Enter your last name :")
output = format_name(fname,lname)
print(f"{output}")

Please Enter your first name:
Please Enter your last name :
Can't format empty strings.

In [ ]:
#Challenge 1
#Leap year 
def is_leap(year):
  # leap_year=False
  if year % 4 == 0:
    if year % 100 == 0:
      if year % 400 == 0:
        return True
      else:
        return False
    else:
      return True
  else:
    return False

def days_in_month(year,month):
  month_days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31] 
  if month>12 or month <1:
    return -1
  if is_leap(year) and month==2:
    return 29
  else:
    return month_days[month-1] 
  
  
#ðŸš¨ Do NOT change any of the code below 
year = int(input("Enter a year: "))
month = int(input("Enter a month: "))
days = days_in_month(year, month)
print(days)

Enter a year: 2020
Enter a month: 34
-1

In [ ]:
#calculator function
print("""
 _____________________
|  _________________  |
| | Pythonista   0. | |  .----------------.  .----------------.  .----------------.  .----------------. 
| |_________________| | | .--------------. || .--------------. || .--------------. || .--------------. |
|  ___ ___ ___   ___  | | |     ______   | || |      __      | || |   _____      | || |     ______   | |
| | 7 | 8 | 9 | | + | | | |   .' ___  |  | || |     /  \     | || |  |_   _|     | || |   .' ___  |  | |
| |___|___|___| |___| | | |  / .'   \_|  | || |    / /\ \    | || |    | |       | || |  / .'   \_|  | |
| | 4 | 5 | 6 | | - | | | |  | |         | || |   / ____ \   | || |    | |   _   | || |  | |         | |
| |___|___|___| |___| | | |  \ `.___.'\  | || | _/ /    \ \_ | || |   _| |__/ |  | || |  \ `.___.'\  | |
| | 1 | 2 | 3 | | x | | | |   `._____.'  | || ||____|  |____|| || |  |________|  | || |   `._____.'  | |
| |___|___|___| |___| | | |              | || |              | || |              | || |              | |
| | . | 0 | = | | / | | | '--------------' || '--------------' || '--------------' || '--------------' |
| |___|___|___| |___| |  '----------------'  '----------------'  '----------------'  '----------------' 
|_____________________|
""")

first=(int(input("Enter the first number:")))
second=(int(input("Enter the first number:")))
print("Here is what this calculator can do for you ? Type: ")
print("+")
print("-")
print("*")
print("/")
operator=(input("What you want to perform:"))

operations={
    "+":add,
    "-":subtract,
    "*":multiply,
    "/":divide,
}